*{
    margin: o;
    padding: 0;
}

.container {
    width: 1300px;
    margin: 0 auto;
    padding-top: 100px;
}

.btn {
    width: 100px;
    height: 30px;
    background: yellow;
    border: 2px solid gray;
    cursor: pointer;
    transition: 0.4s;
}

.btn:hover {
    background: red;
    border: 2px solid yellow;
    color: white;
    transform: scale(1.2);
}

.btn2 {
    width: 100px;
    height: 30px;
    background: red;
    border: 2px solid gray;
    cursor: pointer;
    transition: 0.4s;
    color: white;
}

.btn2:active {
    background: yellow;
    color: black;
    border: 2px solid black;
}

.btn3 {
    width: 100px;
    height: 30px;
    background: green;
    border: 2px solid gray;
    cursor: pointer;
    transition: 0.4s;
    color: white;
}

.btn3:focus {
    background: yellow;
    color: black;
}

.block {
    width: 200px;
    height: 200px;
    box-shadow: 0 3px 13px black;
    margin: 60px 0;
    transition: .3s;
}

.block:hover {
    transform: scale(1.2);
}

hr {
    margin: 20px 0;
}

p::first-letter {
    font-size: 25px;
    color: red;
}

p::first-line {
    text-decoration: underline;
    color: green;
}

h1::before {
    content: " This is ";
}

h1::after {
    content: " It Academy ";
}

.list1 li:first-child {
    color: red;
}

.list1 li:last-child {
    color: red;
}

.list2 li:nth-child(even) {
    color: red;
}

.list2 li:nth-child(odd) {
    color: green;
}

.list3 li:nth-child(3n) {
    color: red;
}

input {
    padding: 10px 20px;
    border-radius: 6px;
    border: 2px solid grey;
    outline: none;
}

.search {
    position: relative;
}

.search ion-icon {
    position: absolute;
    top: 12px;
    left: 5px;
    color: gray;
}